<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="/admin/master">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content">
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Change Password</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/admin/management/changePassword" id="adminChangePassword">
                        <div class="form-group">
                            <label >Old Password</label>
                            <input type="password" class="form-control" id="oldPassword" name="oldPassword" >

                        </div>
                        <div class="form-group">
                            <label for="newPassword">Password</label>
                            <input type="password" class="form-control" id="newPassword" name="newPassword">
                        </div>
                        <div class="form-group">
                            <label for="confirm">Confirm</label>
                            <input type="password" class="form-control" id="confirm" name="confirm">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" form="adminChangePassword">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <div align="center" style="padding-top: 10%">
    <img th:src="@{/admin/image/logo_welcome.jpg}"/>
    </div>
</div>
</body>
</html>